:root {
    --principal: #5cc72f;
    --principal_hover: #48b619;
    --principal_t: rgb(28, 58, 16);
    --secundario: #0d2649;
    --bg1: #205080;
    --bg2: rgb(10, 30, 50);
    --bg3: rgb(3, 10, 20);
    --danger: rgb(236, 122, 122);
    --bgDark: rgb(18, 20, 20);
    --bgDark1: rgb(32.4, 32.7, 33.3);
    --bgDark2: rgba(0, 0, 0, 0.842);
    --bgLight: rgb(223, 223, 223);
    --bgGrayDark: rgb(39, 39, 39);
}
